<a href="https://colab.research.google.com/github/wesleybeckner/technology_fundamentals/blob/main/C1%20Fundamentals/SOLUTIONS/SOLUTION_Tech_Fun_C1_L2_Practice_with_Flow_Control.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Technology Fundamentals Course 1, Lab 2: Practice with Flow Control

**Instructor**: Wesley Beckner

**Contact**: wesleybeckner@gmail.com

**Teaching Assitants** Varsha Bang, Harsha Vardhan

**Contact** vbang@uw.edu, harshav@uw.edu

<br>

---

<br>

In this lab we will continue to practice flow control.

<br>

---

# L2 Q1: Print and For Loops

Create a Pyramid Using for loops

## Part A

Example output:

```
* 
* * 
* * * 
* * * * 
* * * * * 
```

In [2]:
# Code Cell for L2 Q1 A
for i in range(6):
  print('* '*i)

*
* *
* * *
* * * *
* * * * *

## Part B

Example output:

```
        * 
      * * 
    * * * 
  * * * * 
* * * * * 
```

In [20]:
# Code Cell for L2 Q1 B
rows = 6
for i in range(rows):
  print('  '*(rows-i) + '* '*i)

          *
        * *
      * * *
    * * * *
  * * * * *

## Part C

Example output:

```
         * 
        * * 
       * * * 
      * * * * 
     * * * * * 
```

In [8]:
# Code Cell for L2 Q1 C
for i in range(6):
  print(' '*(6-i) + '* '*i)

     *
    * *
   * * *
  * * * *
 * * * * *

In [35]:
# 0, 1, 1, 2 ....
# last_fib_number + 2nd__to_last_fib_number = currrent_fib_number

fib = []
# I'm going to have to seed this.... because there's no 
# two last values in this list...

# i'll solve that later.

fib = [0, 1]
# this should give me enough to algorithmically determine all the
# next numbers

# I need to access the last two values, sum them, then add it to the
# end of the list.
fib.append(fib[-1] + fib[-2])
fib

index = 10
# the answer should be 34...

# for thingy in some_iterable .. (range):
#   append to list until I reach the end of my for loop

# this will return the answer
fib[-1]

[0, 1, 1]

# L2 Q2: Conditionals and For Loops

Complete the Fibonacci sequence up to the 10th place using any or all of the following:
* `for` 
* `if` `elif` `else`
* `append`
* `range`

The Fibonacci sequence with indices:

1. 0
2. 1
3. 1
4. 2
5. 3
6. 5
7. 8
8. etc..

Example input:

`index = 10`

Example output:
```
Index: 10
Value: 34
```

In [16]:
# Cell for L2 Q2
index = 10
fib = []
for i in range(index):
  if i <= 1:
    fib.append(i)
  else:
    fib.append(fib[-1] + fib[-2])
print(fib[-1])

34

# L2 Q3: Practice with Collections

concatenate the following dictionaries to create a new one, if you need to refer to documentation for python dictionaries!

Input:
```
dict1={1:10, 2:20}
dict2={3:30, 4:40}
dict3={5:50, 6:60}
```

Output:
```
new_dect={1:10, 2:20, 3:30, 4:40, 5:50, 6:60}
```

In [23]:
# Cell for L2 Q3
dict1={1:10, 2:20}
dict2={3:30, 4:40}
dict3={5:50, 6:60}

new_dect = dict1
new_dect.update(dict2)
new_dect.update(dict3)
new_dect

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

# L2 Q4 The FizzBuzz task

Let's do this!  **FizzBuzz** is our first task for this session.  **FizzBuzz** is a common toy programming problem that is often used in software engineering job interviews.  Today, we are not after the _most compact_, _most clever_, or even the _most beautiful_ solution.  Your goal is to solve the problem using **_for_** and **_if_** as your primary tools.  You will likely also want to use the `%` operator.  Before we describe **FizzBuzz**, let's talk about the **moduluo** operation.

If you recall from session 1, you may have experimented with the **_[modulus](https://en.wikipedia.org/wiki/Modulo_operation)_** or `%` operator.  When used between two **_integer_** values, it returns the integer remainder of division. Let's start with a simple example of `5` **modulo** `3`:

```
5 % 3
```

In [24]:
5 % 3

2

Let's do another example... What is the result of the following:

```
10 % 5
```

In [25]:
10 % 5

0

Now, on to **FizzBuzz**.  No it isn't the high-test caffeine cola you might need right now.  Instead, it is a challenge to output certain text as the code iterates over elements in a list.  Here is the formal definition of the problem that we will use today.

_"Write a program that prints the numbers from 1 to 100. But for multiples of three print `Fizz` instead of the number and for the multiples of five print `Buzz`. For numbers which are multiples of both three and five print `FizzBuzz`."_

To get started, you will need a `for` loop and it will probably use a `range` list.  Inside of the for loop, you will likely have at least two `if` statements that use the `%` operator followed by a `print`.

In [26]:
# Cell for L2 Q4
for i in range(1,101):
  if (i % 3 == 0) and (i % 5 == 0):
    print('FizzBuzz')
  elif i % 3 == 0:
    print('Fizz')
  elif i % 5 == 0:
    print('Buzz')
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz


For advanced folks, a hint here is that you might be able to avoid some `if` statements by using the `end` parameter to the `print` function.  Notice how these two cell blocks output differently.

```
print("Fizz")
print("Buzz")
```

In another cell:

```
print("Fizz", end="")
print("Buzz", end="")
print()
```